
.main_form_ct{
		
		width: 932px;
}

.floyd_bg{
	background: url(../images/floyd_bg.png) ;
	background-color: #7a7c63;
}

.height_55{
	height: 55px;
}

.insideWrapperLbForm-floyd{
	background: #dbd9d6;
	-border:8px #9b9d8a solid;
	-padding: 20px;
	

}

.hibou_bg{
	background-color: #c8bda0;
}





.lb_form_signup{
	font-family: arial;

}
label{
	color:#000000;
}


/*FOUNDATION OVERIDE*/

img, object, embed {
max-width: 100%;

height: auto;
}