.floyd_bg{
		background: url(../images/floyd_bg.png) ;
		background-color: #7a7c63;
		padding: 50px;
		
}

.insideWrapperLbForm-floyd{
	background: #dbd9d6;
	border:8px #9b9d8a solid;
	ma
	

}

.hibou_bg{
	background-color: #c8bda0;
}





.lb_form_signup{
	font-family: arial;

}
label{
	color:#000000;
}